<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="EjercicioEntrevista.LogInPage"/>
      <class name="EjercicioEntrevista.AgregaProductos"/>
      <class name="EjercicioEntrevista.ValidaArticulosCarrito"/>
      <class name="EjercicioEntrevista.Comprar"/>
      <class name="EjercicioEntrevista.CompraTerminada"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
